@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: hsl(31.2 78.5% 97.7%);
  --foreground: hsl(18.4 60.5% 7.3%);
  --card: hsl(32.7 100% 99.1%);
  --card-foreground: hsl(18.4 60.5% 7.3%);
  --popover: hsl(32.7 100% 99.1%);
  --popover-foreground: hsl(18.4 60.5% 7.3%);
  --primary: hsl(20.1 67% 28.2%);
  --primary-foreground: hsl(31.2 78.5% 97.7%);
  --secondary: hsl(31.3 43% 92.1%);
  --secondary-foreground: hsl(19 52.5% 15.7%);
  --muted: hsl(31.3 43% 92.1%);
  --muted-foreground: hsl(21.1 17.9% 44.4%);
  --accent: hsl(29 88.9% 84.6%);
  --accent-foreground: hsl(16 72.7% 12.9%);
  --destructive: hsl(357.2 100% 45.3%);
  --border: hsl(26 32.5% 85.9%);
  --input: hsl(26 32.5% 85.9%);
  --ring: hsl(21.7 36.8% 43.4%);
  --chart-1: hsl(16.8 69.2% 42.4%);
  --chart-2: hsl(30.8 60.4% 54.8%);
  --chart-3: hsl(122.2 24.1% 45.5%);
  --chart-4: hsl(39.9 70.9% 52.7%);
  --chart-5: hsl(2.6 42.5% 43%);
  --sidebar: hsl(30.2 62.4% 96.3%);
  --sidebar-foreground: hsl(18.4 60.5% 7.3%);
  --sidebar-primary: hsl(20.1 67% 28.2%);
  --sidebar-primary-foreground: hsl(31.2 78.5% 97.7%);
  --sidebar-accent: hsl(28.6 50% 90.8%);
  --sidebar-accent-foreground: hsl(16 72.7% 12.9%);
  --sidebar-border: hsl(26 32.5% 85.9%);
  --sidebar-ring: hsl(21.7 36.8% 43.4%);
}

.dark {
  --background: hsl(15.4 44.7% 6.2%);
  --foreground: hsl(31.3 34.4% 90.2%);
  --card: hsl(16.7 35.7% 10.6%);
  --card-foreground: hsl(31.3 34.4% 90.2%);
  --popover: hsl(16.7 35.7% 10.6%);
  --popover-foreground: hsl(31.3 34.4% 90.2%);
  --primary: hsl(29.8 67.9% 66.9%);
  --primary-foreground: hsl(15.5 49.9% 7.1%);
  --secondary: hsl(18.5 30.5% 16.1%);
  --secondary-foreground: hsl(31.3 34.4% 90.2%);
  --muted: hsl(18.5 30.5% 16.1%);
  --muted-foreground: hsl(23.7 17.8% 53.2%);
  --accent: hsl(21.5 35.6% 19.5%);
  --accent-foreground: hsl(31.3 34.4% 90.2%);
  --destructive: hsl(358.7 100% 69.6%);
  --border: hsl(0 0% 100% / 10%);
  --input: hsl(0 0% 100% / 15%);
  --ring: hsl(24.3 36.9% 54.3%);
  --chart-1: hsl(19.9 67% 53.2%);
  --chart-2: hsl(30.7 64.1% 57.4%);
  --chart-3: hsl(133.3 25.4% 50.3%);
  --chart-4: hsl(39.5 77.1% 57%);
  --chart-5: hsl(3.5 42.8% 55%);
  --sidebar: hsl(12.4 48.8% 4.7%);
  --sidebar-foreground: hsl(31.3 34.4% 90.2%);
  --sidebar-primary: hsl(29.8 67.9% 66.9%);
  --sidebar-primary-foreground: hsl(15.5 49.9% 7.1%);
  --sidebar-accent: hsl(20.3 36.8% 15.8%);
  --sidebar-accent-foreground: hsl(31.3 34.4% 90.2%);
  --sidebar-border: hsl(0 0% 100% / 10%);
  --sidebar-ring: hsl(24.3 36.9% 54.3%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html,
  body,
  #root {
    @apply min-h-screen;
  }

  body {
    @apply bg-background text-foreground;
  }
}
